<div class="row">
  <div class="col-lg-6 offset-lg-3 col-md-6 offset-md-3 col-sm-12">
    <div class="card shadow">
      <div class="card-header">
        <h3 class="m-0 font-weight-bold text-primary text-center">{{button ? 'update service' : 'Add service'}}</h3>
      </div>
      <form (ngSubmit)="onSubmit()" [formGroup]="serviceGroupForm">
        <div class="card-body">
          <div class="bg-white" >
            <div class="row mt-2">
              <div class="form-group col-md-12 col-sm-12">
                <label>Service Group Name</label>
                <input type="text" class="form-control rounded-0" formControlName="serviceGroupName"/>
                </div>
              </div>
            </div>
          </div>
        <div class="card-footer text-center">
          <button type="submit" class="btn btn-sm btn-primary">{{button ? 'update' : 'submit'}}</button>
          <button routerLink="/servicegroup" class="btn btn-sm btn-secondary ml-2">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>

