<div class="card shadow ">
  <div class="card-header">
    <a class="btn btn-sm btn-outline-primary float-right masterBtn" routerLink="/servicegroup/servicegroupcreation">Add Service Type +</a>
    <div class="row">
      <h3 class="text-primary">Service Group Details</h3>
    </div>
  </div>
  <div class="card-body">
    <section>
      <table class="table table-hover table-responsive-sm table-bordered">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Service Group Name</th>
          <th scope="col">Creation Date</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let list of serviceGroup; let i = index" [attr.id]="list.id">
          <td>{{(i+1)}}</td>
          <td>{{list.serviceGroupName}}</td>
          <td>{{list.createdOn | date: 'dd/MM/yyy'}}</td>
          <td><a class="text-primary" title="Edit" routerLink="/serviceGroup/serviceGroupUpdate/{{list.serviceGroupId}}"><i class="fas fa-user-edit"></i></a>
            <a class="text-danger ml-1" title="Delete" (click)="deleteRow(list)"><i class="far fa-trash-alt"></i></a></td>
        </tr>
        </tbody>
      </table>
    </section>
  </div>
</div>



